#!/usr/bin/env bash
#
# Installs docker-machine on OS X
#

# Get latest docker-machine
if [[ ! $(docker-machine -v | grep {{ docker_machine_version }}) ]]
then
  {{ docker_machine_install }} > /usr/local/bin/docker-machine
  chmod +x /usr/local/bin/docker-machine
fi

# Ensure it is executable
chmod +x {{ docker_machine_bin }}

# Setup dev env
if [[ ! $(docker-machine ls | grep {{ docker_machine_dev_name }}) ]]
then
    docker-machine create --driver virtualbox {{ docker_machine_dev_name }}
fi

# Start docker host if it is not running
if [[ $(docker-machine ls | grep -i {{ docker_machine_dev_name }} | grep -i stopped) ]]
then
    docker-machine start {{ docker_machine_dev_name }}
fi

# Load in dev env
eval "$(docker-machine env {{ docker_machine_dev_name }})"

# Get latest swarm image
docker pull swarm:latest

# Get latest docker-compose
if [[ ! $(docker-compose --version | grep {{ docker_compose_version }}) ]]
then
  {{ docker_compose_install }}
fi

# Ensure it is executable
chmod +x {{ docker_compose_bin }}

# vim: ft=sh:
