#!/usr/bin/env bash
#
# Installs nvm and default version
#

# Get install script for version and run it
curl -o- https://raw.githubusercontent.com/creationix/nvm/v{{nodejs_nvm_ver}}/install.sh | bash

# Set up shell for nvm
. ~/.nvm/nvm.sh

# Install versions
{% for ver in nodejs_versions %}
nvm install {{ver}}
{% endfor %}

# Uninstall versions
{% for ver in nodejs_versions_to_remove %}
nvm uninstall {{ ver }}
if [ -d $HOME/.nvm/versions/node/v{{ ver }} ]; then
  rm -R $HOME/.nvm/versions/node/v{{ ver }}
fi
{% endfor %}

# Set default
nvm alias default {{nodejs_default_ver}}
nvm use {{nodejs_default_ver}}

{% for pkg in nodejs_npm_packages %}
npm install -g {{pkg}}
{% endfor %}
